In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/home/son/ml/nlp_classification/datasets/tot_data.csv")

In [3]:
df['label1'].isnull().sum()

1432

In [4]:
df['label1'].unique()

array([nan, 'CO', 'S', 'P', 'P, AS', 'E', 'AS', 'Q', 'CL', 'R', 'A', 'AG',
       'CP', 'B', 'M', 'CO, AS', 'M, \nSelf-Compliment', 'SE', 'M, AS',
       'Q, AS', '\n', 'B, AS', 'Self-Compliment', 'CO,AS', 'p', 'P,AS',
       'AG,AS', 'M,SE', 'B,AS', 'M,AS', 'DI', 'DJ', 'Self-compliment',
       'M, SE', 'C', 'CP,AS', 'P ', ' CL', 'M, Self-Criticize',
       'M, Self-Compliment', 'M,Self-Criticize', 'CP, \nAS', 'CP, AS',
       'Self-Criticize', 'M, \nSelf-Criticize', 'S,AS', 'CO,\nAS', 'A,AS',
       'M, SC', 'Q,AS', 'Self-criticize', 's', 'M, SELF COMPLIMENT',
       'AS,P', 'M,Self-Compliment', 'AS, CO', 'AS, P', 'co', 'I', 'M, CN',
       'CL,AS', 'CN', 'R,AS', 'SC', 'OFF-TOPIC', 'B,\nAS',
       'Self-Criticize, SE', 'M, S-Criticize', 'AS,CP', 'off-task'],
      dtype=object)

In [5]:
# df['label2'].unique()

In [6]:
# df['label3'].unique()

In [7]:
df.dropna(subset=['label1'], inplace=True)

In [8]:
# Step 1: 단일 및 복합 라벨 리스트로 변환
df['label1'] = df['label1'].str.replace('\n', '', regex=False)
df['label1'] = df['label1'].str.replace(' ', '', regex=False)
df['label1'] = df['label1'].replace('', np.nan)
df['label1'] = df['label1'].str.upper()
df['label1'] = df['label1'].str.replace('SELFCOMPLIMENT', 'SELF-COMPLIMENT', regex=False)
df['label1'] = df['label1'].str.replace('S-CRITICIZE', 'SELF-CRITICIZE', regex=False)
df['label1'] = df['label1'].str.split(',')

In [9]:
df['label1']

8             [CO]
10            [CO]
11             [S]
12             [P]
13         [P, AS]
           ...
5526          [AG]
5527          [CO]
5529           [P]
5530           [P]
5531    [OFF-TASK]
Name: label1, Length: 4100, dtype: object

In [10]:
df.dropna(subset=['label1'], inplace=True)

In [11]:
df.reset_index(drop=True, inplace=True)

In [12]:
df = df[['text', 'label1']]

In [13]:
df['label1'].value_counts()

label1
[P]                     1127
[CO]                     685
[Q]                      350
[CL]                     299
[AG]                     270
[CP]                     260
[AS]                     218
[B]                      205
[M]                      136
[A]                       99
[R]                       63
[S]                       54
[M, SELF-COMPLIMENT]      53
[E]                       43
[P, AS]                   36
[CO, AS]                  31
[M, SELF-CRITICIZE]       31
[DJ]                      24
[DI]                      19
[M, SC]                   15
[M, SE]                   13
[M, AS]                   10
[SE]                       9
[OFF-TOPIC]                8
[SELF-CRITICIZE]           6
[CP, AS]                   5
[B, AS]                    4
[AG, AS]                   3
[A, AS]                    3
[SELF-COMPLIMENT]          3
[AS, P]                    2
[C]                        2
[Q, AS]                    2
[S, AS]                    1
[AS, CO]                   1
[I]                        1
[M, CN]                    1
[CL, AS]                   1
[CN]                       1
[R, AS]                    1
[SC]                       1
[SELF-CRITICIZE, SE]       1
[AS, CP]                   1
[OFF-TASK]                 1
Name: count, dtype: int64

In [14]:
df_single = df[df['label1'].apply(len) < 2]  # 단일 라벨만 추출

In [15]:
df_single['label1'].value_counts()

label1
[P]                  1127
[CO]                  685
[Q]                   350
[CL]                  299
[AG]                  270
[CP]                  260
[AS]                  218
[B]                   205
[M]                   136
[A]                    99
[R]                    63
[S]                    54
[E]                    43
[DJ]                   24
[DI]                   19
[SE]                    9
[OFF-TOPIC]             8
[SELF-CRITICIZE]        6
[SELF-COMPLIMENT]       3
[C]                     2
[I]                     1
[CN]                    1
[SC]                    1
[OFF-TASK]              1
Name: count, dtype: int64

In [16]:
df_single.reset_index(drop=True, inplace=True)

In [17]:
df_single.loc[:, 'label1'] = df_single['label1'].apply(lambda x: x[0])

In [18]:
df_single.loc[:, 'label1'] = df_single['label1'].apply(lambda x: x.strip())

In [19]:
df_single['label1'].value_counts()

label1
P                  1127
CO                  685
Q                   350
CL                  299
AG                  270
CP                  260
AS                  218
B                   205
M                   136
A                    99
R                    63
S                    54
E                    43
DJ                   24
DI                   19
SE                    9
OFF-TOPIC             8
SELF-CRITICIZE        6
SELF-COMPLIMENT       3
C                     2
I                     1
CN                    1
SC                    1
OFF-TASK              1
Name: count, dtype: int64

# 특정 라벨로 데이터 저장하는 코드

In [22]:
df_filtered = df_single[df_single['label1'].isin(['Q', 'CP', 'AS', 'B', 'R', 'CL'])]

In [23]:
df_filtered['label1'].value_counts()

label1
Q     350
CL    299
CP    260
AS    218
B     205
R      63
Name: count, dtype: int64

In [24]:
df_filtered.loc[:, 'label1'], uniques = pd.factorize(df_filtered['label1'])

In [25]:
len(uniques)

6

In [26]:
import yaml

# config.yaml 파일 읽기
with open('config.yaml', 'r') as file:
    config = yaml.safe_load(file)

# uniques의 길이를 계산 (이 부분은 이미 실행한 코드에서 가져옴)
num_classes = len(uniques)

# config.yaml 파일의 num_classes를 업데이트
config['num_classes'] = num_classes

# 업데이트된 config.yaml 파일 저장
with open('config.yaml', 'w') as file:
    yaml.dump(config, file)

print(f"Updated num_classes in config.yaml to {num_classes}")

Updated num_classes in config.yaml to 6

In [27]:
df_filtered.loc[:, 'text'] = df_filtered['text'].str.replace('\n', ' ')  # 줄바꿈 제거
df_filtered.loc[:, 'text'] = df_filtered['text'].str.replace('\s+', ' ', regex=True)  # 중복 공백 제거
df_filtered.loc[:, 'text'] = df_filtered['text'].str.replace('..', ',')
df_filtered.loc[:, 'text'] = df_filtered['text'].str.replace('...', ',')
df_filtered.loc[:, 'text'] = df_filtered['text'].str.replace('....', ',')
df_filtered.loc[:, 'text'] = df_filtered['text'].str.replace('.....', ',')
df_filtered.loc[:, 'text'] = df_filtered['text'].str.replace('…', ',')
df_filtered.loc[:, 'text'] = df_filtered['text'].str.strip()

In [28]:
df_filtered.reset_index(drop=True, inplace=True)

In [29]:
df_filtered.shape

(1395, 2)

In [30]:
df_filtered.to_csv('/home/son/ml/nlp_classification/datasets/final_data.csv', index=False)

# 라벨 개수로 데이터 저장하는 코드

In [51]:
label_counts = df_single['label1'].value_counts()

# 특정 수 이하 레이블 리스트 추출
rare_labels = label_counts[label_counts < 200].index

# 해당 레이블을 가진 데이터 삭제
df_filtered = df_single[~df_single['label1'].isin(rare_labels)]

In [52]:
df_filtered['label1'].value_counts()

label1
P     1127
CO     685
Q      350
CL     299
AG     270
CP     260
AS     218
B      205
Name: count, dtype: int64

In [53]:
df_filtered.loc[:, 'label1'], uniques = pd.factorize(df_filtered['label1'])

In [54]:
len(uniques)

8

In [55]:
import yaml

# config.yaml 파일 읽기
with open('config.yaml', 'r') as file:
    config = yaml.safe_load(file)

# uniques의 길이를 계산 (이 부분은 이미 실행한 코드에서 가져옴)
num_classes = len(uniques)

# config.yaml 파일의 num_classes를 업데이트
config['num_classes'] = num_classes

# 업데이트된 config.yaml 파일 저장
with open('config.yaml', 'w') as file:
    yaml.dump(config, file)

print(f"Updated num_classes in config.yaml to {num_classes}")

Updated num_classes in config.yaml to 8

In [56]:
uniques

Index(['CO', 'P', 'AS', 'Q', 'CL', 'AG', 'CP', 'B'], dtype='object')

In [57]:
df_filtered['label1'].value_counts()

label1
1    1127
0     685
3     350
4     299
5     270
6     260
2     218
7     205
Name: count, dtype: int64

In [58]:
df_filtered.loc[:, 'text'] = df_filtered['text'].str.replace('\n', ' ')  # 줄바꿈 제거
df_filtered.loc[:, 'text'] = df_filtered['text'].str.replace('\s+', ' ', regex=True)  # 중복 공백 제거
df_filtered.loc[:, 'text'] = df_filtered['text'].str.replace('..', ',')
df_filtered.loc[:, 'text'] = df_filtered['text'].str.replace('...', ',')
df_filtered.loc[:, 'text'] = df_filtered['text'].str.replace('....', ',')
df_filtered.loc[:, 'text'] = df_filtered['text'].str.replace('.....', ',')
df_filtered.loc[:, 'text'] = df_filtered['text'].str.replace('…', ',')
df_filtered.loc[:, 'text'] = df_filtered['text'].str.strip()

In [59]:
df_filtered.reset_index(drop=True, inplace=True)

In [30]:
df_filtered.shape

(1812, 2)

In [31]:
df_filtered.to_csv('/home/son/ml/nlp_classification/datasets/final_data.csv', index=False)

# 라벨 2개 이상 데이터 제거

In [27]:
df_filtered['label1'].value_counts()

label1
[P]                  1127
[CO]                  685
[Q]                   350
[CL]                  299
[AG]                  270
[CP]                  260
[AS]                  218
[B]                   205
[M]                   136
[A]                    99
[R]                    63
[S]                    54
[E]                    43
[DJ]                   24
[DI]                   19
[SE]                    9
[OFF-TOPIC]             8
[SELF-CRITICIZE]        6
[SELF-COMPLIMENT]       3
[C]                     2
[I]                     1
[CN]                    1
[SC]                    1
[OFF-TASK]              1
Name: count, dtype: int64

In [28]:
# 2 이하의 값만 필터링하는 조건 설정
label_counts = df_filtered['label1'].value_counts()

# 빈도가 2 이하인 레이블 리스트 추출
rare_labels = label_counts[label_counts < 50].index

# 해당 레이블을 가진 데이터 삭제
df_filtered = df_filtered[~df_filtered['label1'].isin(rare_labels)]

In [29]:
df_filtered['label1'].value_counts()

label1
[P]     1127
[CO]     685
[Q]      350
[CL]     299
[AG]     270
[CP]     260
[AS]     218
[B]      205
[M]      136
[A]       99
[R]       63
[S]       54
Name: count, dtype: int64

In [30]:
df_filtered['text'] = df_filtered['text'].str.replace('\n', ' ', regex=False)  # 줄바꿈 제거
df_filtered['text'] = df_filtered['text'].str.replace('\s+', ' ', regex=True)   # 중복 공백 제거
df_filtered['text'] = df_filtered['text'].str.strip()  # 앞뒤 공백 제거

In [31]:
df_filtered.to_csv('./datasets/final_data.csv', index=False)

In [16]:
# 2 이하의 값만 필터링하는 조건 설정
label_counts = df['label1'].value_counts()

# 빈도가 2 이하인 레이블 리스트 추출
rare_labels = label_counts[label_counts < 6].index

# 해당 레이블을 가진 데이터 삭제
df_filtered = df[~df['label1'].isin(rare_labels)]

In [17]:
df_filtered['label1'].value_counts()

label1
[P]                     1127
[CO]                     685
[Q]                      350
[CL]                     299
[AG]                     270
[CP]                     260
[AS]                     218
[B]                      205
[M]                      136
[A]                       99
[R]                       63
[S]                       54
[M, SELF-COMPLIMENT]      53
[E]                       43
[P, AS]                   36
[CO, AS]                  31
[M, SELF-CRITICIZE]       31
[DJ]                      24
[DI]                      19
[M, SC]                   15
[M, SE]                   13
[M, AS]                   10
[SE]                       9
[OFF-TOPIC]                8
[SELF-CRITICIZE]           6
Name: count, dtype: int64

In [18]:
df_filtered

                                                   text   label1
0                활동지에 보면은 스텝1 질문이 나와 있는데 혹시 다들 확인하셨을까요?     [CO]
1     그러면은 확인 아직 못하신분 없는 지 다 확인하셨네요. 그러면 지금부터 스텝 1의 ...     [CO]
2     이제 먼저 본 자료에 따르면 김한양 씨가 지금 20분 정도 듣고 있는 수업을 운영을...      [S]
3     이렇게 있는 상황인데 일단은 이 상황이 문제가 될 수밖에 없었던 이유에는 일단은 개...      [P]
4     그래서 저는 이런 실질적인 지원이나 아니면 교수자가 이용할 수 있는 툴 이런 것들이...  [P, AS]
...                                                 ...      ...
4093                         아 얘를... 이미지를 LMS 거라도 넣을까요?     [CO]
4094                                                좋아요     [AG]
4095                                            이론적 근거…     [CO]
4096                                      교안을 참고했다고 하면…      [P]
4097                     교수설계 내용을 기반으로 하였다 정도 일 것 같은데요?      [P]

[4064 rows x 2 columns]

In [19]:
df_filtered.to_csv('./datasets/final_data.csv', index=False)